.new {
width: 100%;
display: flex;
flex-direction: column;
}

h1 {
color: rgb(148, 141, 141);
font-size: 20px;
text-transform: capitalize;
}


.top,.bottom {
-webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
padding: 10px;
margin: 20px;
display: flex;
}

form {
display: flex;
flex-wrap: wrap;
gap: 30px;
justify-content: space-around; 
}

.formInput {
width: 40%;
}



label {
display: flex;
align-items: center;
gap: 10px;
text-transform: capitalize;
}

input {
width: 100%;
padding: 5px;
border: none;
border-bottom: 1px solid gray;
outline: none;
}
.newButton {
width: 150px;
padding: 10px;
border: none;
outline: none;
background-color: rgb(39, 173, 173);
color: white;
font-weight: bold;
cursor: pointer;
margin-top: 10px;
}