.navContainer{
    background-color: rgb(80, 187, 187);
    color: whitesmoke;
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.userInfo{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.7rem;
    cursor: pointer;
    text-transform: capitalize;
    
}